@model IEnumerable<SD_330_W22SD_Assignment.Models.Question>

<ul>
    @foreach (var question in Model)
    {
        <li>
            @question.Body
            |
            <form asp-action="Delete" asp-controller="Admin" asp-route-QuestionId=@question.Id>
                <button type="submit">Delete</button>
            </form>
        </li>
    }
</ul>